<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <title>接口文档编辑</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/interface/interface.css"></link>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="static/js/interface/interface.js"></script>
</head>

<body>
<div class="content">
    <h1>接口文档编辑</h1>
    <form role="form" method="post">
        <div class="form-group">
            <input type="text" id="name" placeholder="url">
            <span class="dropdown">
					<input id="method" readonly="readonly" data-toggle="dropdown" href="#" placeholder="请求方式"/>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						<li>Get</li>
						<li>Post</li>
					</ul>
				</span>
        </div>
        {{template "interface/urlheader.html" .}}
        <input id="submit" type="submit" value="提交">
    </form>
</div>

</body>
</html>